# Ignorar arquivos temporários e auxiliares do LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.gz
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.pdf
*.dvi
*.ps
*.thm
*.backup
*.bak
*.tmp
*.synctex(busy)
relatorio/*.aux
relatorio/*.log
relatorio/*.out
relatorio/*.toc
relatorio/*.lof
relatorio/*.lot
relatorio/*.gz
relatorio/*.bbl
relatorio/*.blg
relatorio/*.fdb_latexmk
relatorio/*.fls
relatorio/*.synctex.gz
relatorio/*.nav
relatorio/*.snm
relatorio/*.vrb
relatorio/*.xdv
relatorio/*.pdf
relatorio/*.dvi
relatorio/*.ps
relatorio/*.thm
relatorio/*.backup
relatorio/*.bak
relatorio/*.tmp
relatorio/*.synctex(busy)
