# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.venv/
venv/
ENV/
*.egg-info/
*.egg
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# LaTeX
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glsdefs
*.nav
*.snm
*.synctex.gz
*.run.xml
*.bcf
*.pdf
*.dvi
*.ps
*.synctex.gz
*.thm
*.xdv
*.xdy
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.listing
*.lol
*.maf
*.mtc*
*.slg
*.slo
*.sls
*.slo
*.spl
*.sta
*.stc
*.stp
*.svg
*.tmp
*.upa
*.upb
*.vrb
*.nav
*.snm
*.synctex.gz
*.tdo
*.tps
*.upa
*.upb
*.run.xml

# Outros
.DS_Store
Thumbs.db
